.body{
  background-image: url('https://www.desktopbackground.org/p/2010/11/17/112608_colorful-artistic-wallpaper-hd-digital-art-colour-drops-free-hd-wallpaper-backgrounds-7998-free-digital-art-wallpaper-jpg_2692x1728_h.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App {
  text-align: center;
}